.body {
    min-width: 400px;
    background-color: FEEFE5;
}

#searchBar {
    border-radius: 25px;
}
#submitButton {
    border-radius: 25px;
}

p {
    color: red;
}

#logo {
    display:flex;
    max-width: 40%;
    max-height: 30% px;
}