.body {
    min-width: 350px;
    background-color: FEEFE5;
}

#searchBar {
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}
#submitButton {
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
}

p {
    color: black;
    font-family: 'Montserrat', sans-serif;
}

#logo {
    display:flex;
    max-width: 40%;
    max-height: 30% px;
}